.main {
  padding-top: 14px;

  @media screen and (max-width: 767px) {
    :global(.ui.button).json {
      display: block;
      float: none;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 2em;
    }
  }
}

.dimmable {
  height: 100%;
  padding: 0 !important;
  border-width: 0 !important;
  border-radius: 0 !important;
}
