.main {
  padding-top: 14px;

  @media screen and (max-width: 767px) {
    :global(.ui.button).json {
      display: block;
      float: none;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 2em;
    }
  }
}
